<section class="admin-dashboard">
  <div class="container">
    <h1>Admin Dashboard</h1>
    <div class="stats">
      <div class="stat">
        <h2><%= link_to "Products in Stock:", admin_products_path %> <%= @product_count %> </h2>
      </div>
      <div class="stat">
        <h2><%=  link_to "Categories:", admin_categories_path %> <%= @category_count %> </h2>
    </div>
  </div>
</section>

