<section class="about-section text-center mt-4">
    <h1>About Us</h1>
    <p>Welcome to The Jungle, your one-stop destination for all things plants! We are passionate about bringing the beauty and serenity of nature into your life. With a diverse range of plants sourced from around the world, we're here to help you create your own lush oasis.</p>
    <p>Thank you for choosing The Jungle as your plant companion. Let's grow together!</p>
</section>
